@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.nav-group {
  display: flex;
  align-items: center;
}

.nav-item {

}

.nav-link {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  font-size: 1.25em;
}

.nav-link:hover {
  text-decoration: none;
  color: rgb(187, 187, 187);
}

.nav-btn-primary {
  color: white;
  cursor: pointer;
  background: green;
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  margin: 0 0.3rem;
}

.nav-btn-primary:hover {
  background: rgb(0, 87, 0);
}

.nav-btn {
  color: white;
  cursor: pointer;
  background: rgb(0, 128, 119);
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  margin: 0 0.3rem;
}

.nav-btn:hover {
  background: rgb(0, 77, 72);
}

.sign-up-btn {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 28px;
  border: 1.5px solid white;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
}

.sign-up-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(60, 60, 60)
}

.log-out-btn {
  margin-left: 0.7rem;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 28px;
  border: 1.5px solid white;
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
}

.log-out-btn:hover {
  cursor: pointer;
  background-color: rgb(210, 45, 45);
  border: 1.5px solid rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255)
}