.container-auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/background2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  background: white;
  width: 30rem;
  height: 25rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.sign-up-text {
  color: gray;
  text-align: center;
}

.form-title {
  padding-top: 2rem;
  color: black;
  text-align: center;
}

.form-text {
  display: block;
  margin: 0 auto;
  padding: 0.4rem 0.6rem;
  font-size: 1.2em;
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(240, 240, 240);
}

.form-text::placeholder {
  color: rgb(179, 179, 179);
}

.form-text:focus {
  background-color: white;
  border: 2px solid rgb(203, 203, 203);
}

.form-label {
  color: white;
}

.form-submit {
  display: block;
  margin: 1rem auto;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  background: rgb(79, 121, 198);
  padding: 0.5rem 0.1rem;
  border-radius: 0.4rem;
  width: 5rem;
}

.form-submit:hover {
  background: rgb(66, 97, 154);
}